@import "tailwindcss";

:root {
  --background: #050510;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.text-glow {
  text-shadow: 0 0 20px rgba(59, 130, 246, 0.5);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-delay-2000 {
  animation-delay: 2s;
}

.animate-delay-4000 {
  animation-delay: 4s;
}